<style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
</style>

<mat-card class="Card-NF">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/Hassan Pagina_auto_x2.png" alt="Not Found Hassan">
    <mat-card-content>
      <p class="Text">
        Are you lost Master?
      </p>
    </mat-card-content>
    <mat-card-actions class="Button">
      <button (click)="backToLogin()" mat-button class="ButtonYes" >YES</button>
      <button mat-button onclick="window.location.href= 'https://www.youtube.com/watch?v=x8129MgPeqU';" class="ButtonNo">NO</button>
    </mat-card-actions>
  </mat-card>